@import url(./reset.css);
@import url(./global.css);
@import url(/fonts/fonts.css);



body {
    width: 100%;
    background: var(--mainColor);
}

img {
    width: 100%;
}

.flex {
    display: flex;
}

main {
    position: relative;
}


header {
    width: 100%;
    height: 100%;
}

.logo h1 {
    padding: 15px;
}

.logo img {
    width: 50%;
    margin-left: 25%;
    margin-top: 120px;
    align-items: center;
}

nav {
    width: 100%;
    background: var(--mainColor);
    align-items: center;
    font-size: 35px;
    background-attachment: fixed;
    position: fixed;
    border-bottom: 1px solid #000;
    z-index: 99;
}

nav li:hover a {
    color: var(--pointColor);
}

.summary li:hover .place {
    color: var(--white);
}

.part1 li a,
.part2 li a {
    padding: 20px;
}

nav ul.flex {
    justify-content: space-between;
}

/* -------swiper1 */
main {
    width: 100%;
}

.foster {
    width: 100%;
}


.swiper-slide {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.swiper {
    width: 70%;
    height: 100%;
    margin: 150px auto;
}

.swiper-slide figure {
    transform: translateX(-50%);
    position: relative;
}

figure figcaption:hover a {
    color: var(--pointColor);
}


.swiper-slide figcaption {
    width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 70px;
    font-weight: bold;
}

/* ----swiper2 */

.myView {
    width: 950px;
    height: 580px;
}

.myView.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.myView.swiper-slide {
    width: 100%;
}

.view-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-wrap {
    gap: 10px;
}

.title {
    font-size: 30px;
}

.slide-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.menu {
    display: flex;
    padding: 2px;
    flex-direction: column;
    position: relative;
    left: -10px;
}

ul.menu li a {
    display: flex;
}

ul.menu li a.on {
    color: #137ce5;
    font-weight: bold;
    font-size: 18px;
}

ul.menu li a.on::before {
    display: block;
    content: '';
    width: 10px;
    height: 13px;
    background: url(/images/arrowR.png) no-repeat center/cover;
    margin: 4px 6px 0 0;
    transition: .4s;
}

.columns {
    z-index: 99;
    font-size: 14px;
}

/* ----------------------------- */
.summary ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary ul li {
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.place {
    width: 100%;
    background: var(--pointColor);
    color: var(--white);
    border-radius: 50px;
    padding: 10px;
}

.place a {
    font-size: 20px;
}

.date {
    font-size: 20px;
}

.about {
    right: 0;
    top: -100px;
    position: absolute;
}

.about img {
    width: 50%;
}

.about :nth-child(1) img {
    animation: dance_jump 3s ease-out infinite;
    transform-origin: center bottom;
}




@keyframes dance_jump {
    0% {
        transform: none;
    }

    15% {
        transform: rotate(-3deg);
    }

    30% {
        transform: rotate(3deg);
    }

    45% {
        transform: rotate(-3deg);
    }

    60% {
        transform: translate3d(0, -5%, 0);
    }

    75% {
        transform: translate3d(0, 1%, 0);
    }

    85% {
        transform: translate3d(0, -3%, 0);
    }

    100% {
        transform: none;
    }
}

/* goods */

.goods{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.goods-line h3{
    font-size: 40px;
}

.goods-line{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goods-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

.goods-wrap ul{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 50px;
}

.goods-wrap ul li figcaption{
    font-size: 13px;
}

/* -------footer----------- */
footer {
    background: var(--black100);
    color: var(--mainColor);
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

.footer-inner1, .footer-inner2{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
}