@import url(./reset.css);
@import url(./global.css);
@import url(/fonts/fonts.css);


body {
    width: 100%;
    background: var(--mainColor);
}

img {
    width: 100%;
}

.flex {
    display: flex;
}


header {
    width: 100%;
    height: 100%;
    position: relative;
}

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

nav {
    width: 100%;
    background: var(--mainColor);
    align-items: center;
    font-size: 35px;
    background-attachment: fixed;
    position: fixed;
    border-bottom: 1px solid #000;
    z-index: 99;
}

nav li:hover a {
    color: var(--pointColor);
}

nav li a.on {
    color: var(--pointColor);
}

.summary li:hover .place {
    color: var(--white);
}

.part1 li a,
.part2 li a {
    padding: 20px;
}

nav ul.flex {
    justify-content: space-between;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}


.map {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.map-inner {
    width: 90%;
    display: flex;
}

.tabs {
    width: 45%;
    display: flex;
    justify-content: center;
}

.map-contents {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.info {
    width: 500px;
    flex-wrap: wrap;
    background: #eee;
}

.info li {
    width: 50%;
    font-size: 15px;
}

.map-menu {
    width: 35%;
}

.map-menu li {
    text-align: center;
    background: #cdcdcf;
    border-bottom: 1px solid #ffffff;
    font-size: 23px;
}

.map-menu li a {
    display: block;
    padding: 18px;
}

.map-menu li.on {
    background: var(--pointColor);
    color: var(--white);
}

li.map-img.on {
    display: block;
}


li.map-img {
    display: none;
    font-size: 18px;
    font-weight: 400;
}

.map-img li {
    padding: 30px;
}



/* exhibitions */

.exhibitions {
    width: 100%;
    position: absolute;
    opacity: 0;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.exhibitions.on {
    opacity: 1;
}

.content {
    justify-content: center;
    align-items: top;
    width: 90%;
    gap: 50px;
}

.ad {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.ad p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content figure {
    width: 50%;
}

.ad ul {
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.ad ul li {
    background: var(--pointColor);
    color: var(--white);
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 14px;
}

.ad ul li:hover>a {
    color: #000;
}

.ad img {
    width: 280px;
}

figure img {
    width: 500px;
}

figure {
    text-align: center;
    padding-bottom: 10px;
}